* { margin : 0; padding : 0; }
#container {
           position: relative;
           height: 100vh;
           width: 100vw;
           background: url('img/Quina_background.jpg');
           background-size: cover;
}
#limit {
           margin: 0px auto 0px auto;
           width: 892px;
           height: 692px;
}
#cabecalho {
           margin:0px auto 0px auto;
           width:892px;
           height:100px;
           position:relative;
           background: linear-gradient(180deg, #5E1313 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
           mix-blend-mode: normal;
           box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
           border-radius: 20px;
}
#corpo {
    margin: 1px;
    padding-top: 10px;
    padding-bottom: 20px;
    min-height: 500px;               
}
#menu {
           margin:0px auto 0px auto;
           width:280px;
           height:600px;
          float:left;
          background:#0f0f11;
          border-radius: 20px;
}
#artigo {
           margin:0px auto 0px auto;
           width:600px;
            height:600px;
          float:left;
          background:#000000;
          margin-left:10px;
          border-radius: 20px;
}
.cabecalho_artigo {
          margin:0px auto 0px auto;
          width:200px;
          height:50px;
          background:#ffffff;
          border: 3px solid #000000;
          border-radius: 50px;
          margin: 10px;      
}
.artigo {
          margin:0px auto 0px auto;
          width:590px;
          height:590px;
          float:left;
          background:#E7BE83;
          margin:5px;
          border-radius: 20px;
}
.rodape_artigo {
           margin:0px auto 0px auto;
           width:598px;
           height:50px;
          float:left;
          background:#c0c0c0;
          margin:10px;      
}
#propaganda {
           margin:0px auto 0px auto;
           width:160px;
           height:500px;
          float:left;
          background:#c0c000;
          margin-left:10px;
}
#rodape {
           margin: 0px auto;
           padding-bottom: 20px;
          width: 960px;
          position: relative;
          background:#c0c0c0;
}

.circle {
    background-color: #aaa;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
}

  .circle img {
    position:relative;
    bottom: 0;
    width: 80%;
    margin-top: 5px;
    margin-left: 4px;
}

  .fundo{
  position: absolute;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #FFFFFF;
  border: 3px solid #000000;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

  .ctnFlex{
    display: flex;
    justify-content: space-between;
}
